<!DOCTYPE html>

<html lang="en">
<head>
    <head>
        
       
        <link rel="stylesheet" href="{{ url_for('static', filename='css/rekrut.css') }}" type="text/css">
        <link rel="icon" href="{{ url_for('static', filename='asset/favicon.ico') }}" type="image/x-icon"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="HTML,CSS,JAVASCRIPT; charset=utf-8" />
        <meta name="keywords" content="html,css,xml,js" />
        <meta name=keywords" content="Ananda Rauf Maududi, coder indo, jasa aplikasi, jasa website" />
        <meta name="description" content="Website Ananda Rauf Maududi founder/ owner Tech Source Code Store. Kunjungi sekarang untuk melihat biodatanya / Cv" />
        <meta name="author" content="Ananda Rauf Maududi dan Tech Source Code Store" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="canonical" href="" />
        <title>Rekrut tim - Ananda Rauf Maududi Coder Indo</title>
    </head>
    <body>
        
        <script>alert("Selamat datang di website Ananda Rauf Coder. Silahkan isi formulir jika bermnat merekrut . Terima kasih ^-^")</script>
      
        <div class="h1">
            <h1>Formulir untuk rekrut saya :</h1>
        </div>
        <br>
        <div class="namecompany">
            <label>Masukan nama perusahaan anda : </label>
            <input id="nmcompany" type="text" />
            </div>
        <br />
        <br>
        <div class="locatecompany">    
        <label>Masukan lokasi perusahaan kamu :</label>
            <input id="loccompany" type="text" />
            </div>
        <br />
       
        <div class="messagecompany">
            <label>Masukan alasan merekrut :</label>
            <textarea id="mesrec">Alasan rekrut anda</textarea>
            <br>
            <br>
                <input id="aggreerec" type="checkbox" />Saya menyetujui untuk merekrut Ananda Rauf Maududi menjadi tim di perusaahan sekaligus menerima kondisi Ananda Rauf Maududi apa ada-nya .
            <br/><br />
            <br>    
            <input id="subformrec" type="submit" value="Kirim" />
            <br />
        </div>
    </body>
</html>